
<!--
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Ministerio de Transporte y Telecomunicaciones</h2>
    </div>
    <div class="col-sm-8">
    </div>
</div>
-->

<div class="row wrapper">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">

            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Casco Acreditado</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="{{hom.casImagen1}}">
                        </div>
                        <div class="ibox-content profile-content">
                            <p>
                            	<small>MARCA</small><br/>
                            	<span><strong>{{hom.casMarca}}</strong></span>
                            </p>

                            <p>
                            	<small>MODELO</small><br/>
                            	<span><strong>{{hom.casModelo}}</strong></span>
                            </p>

                            <p>
                            	<small>ORIGEN (PAÍS DE FABRICACIÓN)</small><br/>
                            	<span><strong>{{hom.casOrigen}}</strong></span>
                            </p>

                            <p>
                            	<small>LOTE DE FABRICACIÓN</small><br/>
                            	<span><strong>{{hom.casLote}}</strong></span>
                            </p>

                            <p>
                            	<small>FABRICANTE</small><br/>
                            	<span><strong>{{hom.casFabricante}}</strong></span>
                            </p>

                            <p>
                            	<small>SOLICITANTE DE LA ACREDITACIÓN</small><br/>
                            	<span><strong>{{hom.solNombre}}</strong></span>
                            </p>

                            <p>
                            	<small>NÚMERO DE ACREDITACIÓN</small><br/>
                            	<span><strong>{{hom.homAcreditacion}}</strong></span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
