<!--
<div class="footer">
  <div class="pull-right">
    Desarrollado por <strong>Chepps</strong> &copy; 2018
  </div>
  <div>
    <strong>Copyright MTT,</strong> Ministerio de Transporte y Telecomunicaciones &copy; 2018
  </div>
</div>
-->

<div class="contenedor_footer">

  <div class="bicolor">
    <span class="blue"></span>
    <span class="red"></span>
  </div>


  <!-- MENU MTT TRANSPARENCIA
================================================== -->
  <div class="menu_footer">


    <ul id="menu_footer" class="">
      <li id="menu-item-7617" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7617"><a href="/gobierno-transparente">Gobierno
          Transparente</a></li>
      <li id="menu-item-7618" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7618"><a href="/solicitud-de-informacion-ley-de-transparencia">Solicitud
          de información ley de transparencia</a></li>
    </ul>
    <h6>MINISTERIO DE TRANSPORTES Y TELECOMUNICACIONES</h6>
    <div class="direccion"></div>



  </div>
  <!-- MENU MTT TRANSPARENCIA
================================================== -->



  <!-- MENU MTT
================================================== -->
  <div class="menu_footer">
    <h5 class="titulo-footer">MINISTERIO DE TRANSPORTES Y TELECOMUNICACIONES</h5>
    <ul id="menu_footer_mtt" class="">
      <li id="menu-item-7623" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7623"><a href="http://www.conaset.cl/">Conaset</a></li>
      <li id="menu-item-18438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18438"><a href="http://www.logistica.mtt.cl/">Desarrollo
          Logístico</a></li>
      <li id="menu-item-7620" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7620"><a href="http://www.dtpm.cl/">DTPM
          (Transantiago)</a></li>
      <li id="menu-item-8644" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8644"><a href="http://www.dtpr.gob.cl/Inicio.php">DTPR
          (Subsidios)</a></li>
      <li id="menu-item-7621" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7621"><a href="http://www.fiscalizacion.cl/">Fiscalización</a></li>
      <li id="menu-item-9202" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9202"><a href="http://www.jac.gob.cl/">Junta
          de Aeronáutica Civil</a></li>
      <li id="menu-item-18452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18452"><a href="http://www.pydtransportes.gob.cl/">Planificación
          y Desarrollo</a></li>
      <li id="menu-item-7624" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7624"><a href="http://www.prt.cl/">Plantas
          de Revisión Técnica</a></li>
    </ul>
  </div>
  <!-- MENU MTT
================================================== -->



  <!-- MENU SERVICIOS
================================================== -->
  <div class="menu_footer">
    <h5 class="titulo-footer">SERVICIOS EN LINEA</h5>
    <ul id="menu-footer-servicio" class="">
      <li id="menu-item-7625" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7625"><a href="http://portalsiac.mtt.gob.cl:8070/frm_CrearSolicitudes.aspx">Control
          Ciudadano</a></li>
      <li id="menu-item-7626" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7626"><a href="http://www.subtrans.gob.cl/formularios.html">Formularios
          para realizar trámites</a></li>
      <li id="menu-item-7627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7627"><a href="http://apps.mtt.cl/consultaweb/">Registro
          Nacional de Transporte Público y Escolar</a></li>
      <li id="menu-item-7628" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7628"><a href="http://www2.mtt.cl/stop/jsp/">Trámites
          Seremitt Metropolitana</a></li>
      <li id="menu-item-7629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7629"><a href="http://usuarios.subtrans.gob.cl/estadisticas.html">Estadísticas</a></li>
    </ul>
  </div>

  <!-- MENU SERVICIOS
================================================== -->




  <!-- MENU LINK INTERESES
================================================== -->
  <div class="menu_footer">
    <h5 class="titulo-footer">LINK DE INTERÉS</h5>
    <ul id="menu-footer-linkinteres" class="">
      <li id="menu-item-7630" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7630"><a href="http://www.gob.cl/">Gobierno
          de Chile</a></li>
      <li id="menu-item-7631" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7631"><a href="http://www.metrosantiago.cl">Metro</a></li>
      <li id="menu-item-7632" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7632"><a href="http://www.efe.cl">EFE</a></li>
      <li id="menu-item-7633" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7633"><a href="http://www.chileatiende.cl">Chile
          Atiende</a></li>
      <li id="menu-item-7634" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7634"><a href="http://www.carabineros.cl">Carabineros
          de Chile</a></li>
      <li id="menu-item-7635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7635"><a href="http://www.thisischile.cl">This
          is Chile</a></li>
    </ul>
  </div>

  <!-- MENU LINK INTERESES
================================================== -->



</div>
